.my-search-style{
    color: white;
    font-size: 16px;
    background-color: rgb(8, 85, 85);
    height: 50px;
    float: left;
    width: 100%;
    padding: 15px;
}

button{
    color:black;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

input{
    height: 30px;
    border-radius: 3px;
    margin-right:10px; 
    margin-right:10px; 
}
input::-webkit-input-placeholder{
    font-size: 16px;
}
label{
    margin-right:10px; 
}